[Unit]
Description=Arduino serial setup 
DefaultDependencies=no

[Service]
ExecStart=/bin/sh -c '/bin/sh /home/root/cli.sh'

[Install]
WantedBy=multi-user.target
